# --- Python & virtual envs ---
__pycache__/
*.py[cod]
venv/
.venv/

# --- Configs & secrets ---
*.yml
.env
*.token
lichess_token.txt

# --- Engines ---
/engines/*
!/engines/README.md

# --- Logs & temp files ---
lichess_bot_auto_logs/*
*.log
*.pgn
*.txt
TEMP/*

# --- IDEs & OS ---
.vscode/*
.vs/*
.DS_Store
Thumbs.db